
h2 {
    font-family: font-family: 'Montserrat', sans-serif;
    text-align: center
}

/*formatação dos títulos*/


p {
    background-color: black;
    color: blanchedalmond;
}

span {
    font-size: 40px;
    font-family: 'Courier New', Courier, monospace;
    color: chartreuse;
    text-decoration: underline;
    text-transform: uppercase;
}

ul {
    font-size: 50px;
    list-style: none;
}

ol {
    font-size: 50px;
    list-style: upper-latin;
    margin-left: auto;

}
.conteúdo {
    margin-left: 16rem;
}

#titulo-principal {
    margin-left: 5rem;
}
.título {
    color: red;
    font-size: 5rem;
    border: firebrick;
}

.título {
color: green;
border-style: double;
}