
h2 {
    font-family: font-family: 'Montserrat', sans-serif;
    text-align: center
}

/*formatação dos títulos*/


p {
    background-color: black;
    color: blanchedalmond;
}

span {
    font-size: 40px;
    font-family: 'Courier New', Courier, monospace;
    color: chartreuse;
    text-decoration: underline;
    text-transform: uppercase;
}

ul {
    font-size: 50px;
    list-style: none;
}

ol {
    font-size: 50px;
    list-style: upper-latin;
    margin-left: auto;

}
.conteúdo {
    margin-left: 16rem;
}

#título {
    margin-left: 5rem;
}

.título {
    color: red;
    font-size: 5rem;
    border: firebrick;
}

.título {
color: green;
border-style: double;
}

.container-exemplo .titulo-generico {
    font-size: 80px;
    color: black;
}

.titulo-generico {
    font-size: 40px;
    color: red;
}

.meu-link {
    font-size: 30px;
    text-decoration: none;

}


.meu-link:hover {
    background-color: cadetblue;
    text-decoration: underline;
    
}

.meu-link:link {
   color: chartreuse;
}

.meu-link:visited {
    color:cyan;
 }

 .meu-link:active {
    font-size: 60px;
    color: black;
 }

 .meu-link:focus {
     font-size: 90px;
     color: brown;
 }

 .meu-input[type="number"] {
     background-color: cadetblue;
     font-size: 50px;
     color: cornsilk;
 }

 .meu-input:focus {
    background-color: bisque;
    font-size: 20px;
    color: black;
}

.nav-menu {
    border:  2px solid blue;
    list-style: none;
}

.menu-item {
    border: 2px dashed crimson;
    background-color: darkgrey;
    margin-bottom: 20px;
}

.menu-item:last-child {
    margin-bottom: 0px
}

.menu-item:first-child {

    color: red;
}

.menu-item:nth-child(3) {
    background-color: green;
}

.menu-item:nth-child(n+2) {
    font-weight: bold;
}

